.profile{
    display:flex;
    flex-direction:column;
    justify-content:center;
    
    height: 70vh;
}
.profile-items{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}